.error {
    height: calc(100vh - 530px);
    display: flex;
    justify-content: center;
    align-items: center
}

.star {
    position: fixed;
    top: 80px;
    width: 880px;
    right: -880px;
    height: calc(100vh - 80px);
    background: #fff;
    transform: translateX(0px);
    z-index: 100;
  }
  .star-enter-active {
    opacity: 1;
    transform: translateX(-880px);
    transition: all 300ms ease-out;
  }

  .star-enter-done {
      transform: translateX(-880px)
  }
  .star-exit {
    transform: translateX(-880px);
  }
  .star-exit-active {
    transform: translateX(0px);
    transition: all 300ms ease-out;
  }
